<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles.css">
	<title>Лабораторная работа №1</title>
</head>

<body>

	<h1>Привет, я - Жанна, и это мой первый сайт</h1>

	<h2>Список котиков из мультфильмов</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Номер котика</th>
				<th>Имя котика</th>
				<th>Парода котика</th>
				<th>Картинка котика</th>
				<th>Ссылка на каринтку с котиком</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Дворняга</td>
				<td>Боб</td>
				<td><img src="https://gamemag.ru/images/galleries/news/169631/57129/small.jpg" width="320" height="180" /></td>
				<td><a href="https://gamemag.ru/images/galleries/news/169631/57129/small.jpg"> тык </a></td>
			</tr>
			<tr>
				<td>2</td>
				<td>Экзот</td>
				<td>Гарфилд</td>
				<td><img src="https://icdn.lenta.ru/images/2017/03/02/17/20170302175146687/pic_0a719eab7be2cad37e4dfd7f73b2810b.jpg" width="320" height="180" /></td>
				<td><a href="https://icdn.lenta.ru/images/2017/03/02/17/20170302175146687/pic_0a719eab7be2cad37e4dfd7f73b2810b.jpg"> тык </a></td>
			</tr>
			<tr>
				<td>3</td>
				<td>Шотландская Вислоухая</td>
				<td>Пушистый донжуан</td>
				<td><img src="https://static.wikia.nocookie.net/shrek/images/2/23/Puss_in_Boots_-_Shrek_Forever_After.png/revision/latest?cb=20180717201819&path-prefix=ru" width="320" height="180" /></td>
				<td><a href="https://static.wikia.nocookie.net/shrek/images/2/23/Puss_in_Boots_-_Shrek_Forever_After.png/revision/latest?cb=20180717201819&path-prefix=ru"> тык </a></td>
			</tr>
		</tbody>
	</table>


</body>

</html>
